<%= form_with(model: [ @product, @product.comments.build ], remote: true) do |form| %>
  <p>
    <%= form.label :comment %><br>
      <%= form.text_area :comment, required: true %>
        <%= form.hidden_field :user_id, style:"width: 0px;", value: current_user.id %>
  </p>
  <p>
    <%= form.submit %>
  </p>
  <% end %>
