<% if @cart_items.count >= 1 %>
  <% sub_total = 0 %>

  <% if flash[:validity] %>
      <% discount = flash[:validity][1] %>
  <% end %>

  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Serial no</th>
        <th>Decrement</th>
        <th>Quantity</th>
        <th>Increment</th>
        <th>Total Price</th>
        <th>Remove</th>
      </tr>
        <% @cart_items.each do |item| %>
          <% quantity = item.quantity %>
          <% product = Product.find(item.product_id) %>
          <tbody style="border: 1px solid blue;">
            <td><%= product.title %></td>
            <td><%= product.description %></td>
            <td><%= product.price %></td>
            <td><%= product.serial_no %></td>

            <td><%= button_to "-", {controller: :cart_items, action: 'decrement_quantity_item', id: item.id }, style: "width: 50px", class: "btn btn-primary", method: :patch %></td>
            <td><strong><%= quantity %></strong></td>
            <td><%= button_to "+", {controller: :cart_items, action: 'increment_quantity_item', id: item.id }, style: "width: 50px", class: "btn btn-primary", method: :patch %></td>

            <% total = product.price * item.quantity %>
            <% sub_total = sub_total + total %>
            <td><%= total %></td>
            <td><%= button_to "Remove from cart", {:controller => :cart_items, :action => 'delete_item', :id => item.id }, class: "btn btn-danger", :method => :delete %></td>
          </tbody>
        <% end %>
    </thead>
  </table>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <div>
          <h4>Apply Promo Code if you have any?</h4>

          <form action="/apply_coupon" method: :get>
            <input type="text" class="form-control" name="promo_code">
            <button type="submit" class="btn btn-primary mt-3">Apply</button>
          </form>

        </div>
      </div>

      <div class="col-6">
        <div class="m-3" style="text-align: center;">
          <span><h3>Sub-Total: <strong>$<%= sub_total %></strong> <span style="font-size: 20px;">(<%= @cart_items.count %> items) </span></span></h3>
          <% if discount %>
            <% sub_total = sub_total * discount.to_f %>
            <span><h3 class="mt-5">Total Price:  <strong>$<%= sub_total %></strong> <span style="font-size: 20px;">(<%= @cart_items.count %> items) </span></span></h3>
            <span>(Coupon applied.)</span>
          <% end %>
          <%= button_to "Proceed to Checkout", {:controller => :charges, :action => 'new', }, params: {amount: sub_total}, class:"btn btn-primary mt-5",:method => :get %>
        </div>
      </div>
    </div>
  </div>


<% else %>
  <h3 class="text-center m-3">Cart List is empty.</h3>
<% end %>
