<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Serial no:</strong>
  <%= @product.serial_no %>
</p>

<br>

<% (0...@product.images.count).each do |image| %>
  <div style="height=200px; width=auto">
      <%= image_tag(@product.images[image], style: 'width:500px; height: auto')  %>
  </div>
<% end %>
