<% if params[:search] %>
  <h3 style="text-align: center;">Products related to '<%= params[:search] %>'</h3>
<% else %>
  <h3 style="text-align: center;">Public Products</h3>
<% end %>

<% if user_signed_in? and current_user.seller? %>
  <%= link_to 'New Product', new_product_path, class: "float-right mr-3" %>
<% end %>

<% if @products.count >= 1 %>
  <div style="display: flex; flex-wrap:wrap;">
    <% @products.each do |product| %>
    <% if !user_signed_in? || !current_user.products.exists?(product.id) %>
      <div class="card product-card" style="border-radius: 20px">
        <%= image_tag product.images.first, style:"height: 15rem; border-radius: 20px;" if product.images.attached? %>
        <div class="card-body text-center pb-0">
          <h4><%= product.title %></h4>
          <p><%= product.description %></p>
          <p>$<%= product.price %></p>
        </div>

        <% if current_user %>
          <div class="d-flex justify-content-center">
              <%= form_for(@cart_item) do |f|%>
                <%= f.hidden_field :product_id, style:"width: 0px;",  value: product.id %>
                <% if user_signed_in? %>
                  <%= f.hidden_field :cartt_id, style:"width: 0px;", value: current_user.cartt_id %>
                <% end %>

                <div class="mb-2">
                  <button id="decrement_btn-<%=product.id%>" type="button", data-quantity="<%= $quantity %>" class="btn btn-primary" >-</button>
                  <%= f.text_field :quantity, value:1, style:"width: 30px; text-align:center; border:none", id: ("quantity_field-"+product.id.to_s) %>
                  <button id="increment_btn-<%=product.id%>", type="button", data-myvalue="<%= $quantity %>" class="btn btn-primary">+</button>
                </div>

                <%= f.submit "Add To Cart", class: "btn btn-success" %>
              <% end %>
          </div>
        <% else %>
          <div class="d-flex justify-content-center">
            <%= form_for(@cart_item) do |f|%>
              <%= f.hidden_field :product_id, style:"width: 0px;",  value: product.id %>
              <% if %>
                <% if session["cart_id"] %>
                  <%= f.hidden_field :cartt_id, style:"width: 0px;",  value: session["cart_id"] %>
                <% else %>
                  <% cart = Cartt.create(totalPrice: 0) %>
                  <% session["cart_id"] = cart.id %>
                  <%= f.hidden_field :cartt_id, style:"width: 0px;",  value: cart.id %>
                <% end %>
              <% end %>

              <div class="mb-2">
                <button id="decrement_btn-<%=product.id%>" type="button", data-quantity="<%= $quantity %>" class="btn btn-primary" >-</button>
                <%= f.text_field :quantity, value:1, style:"width: 30px; text-align:center; border:none", id: ("quantity_field-"+product.id.to_s) %>
                <button id="increment_btn-<%=product.id%>", type="button", data-myvalue="<%= $quantity %>" class="btn btn-primary">+</button>
              </div>

              <%= f.submit "Add To Cart", class: "btn btn-success" %>
            <% end %>
          </div>
        <% end %>

        <div class="card_links" id="view_product">
          <%= link_to 'View Product →', product %>
        </div>
      </div>
    <% end %>

      <script>
        $("#increment_btn-<%=product.id%>").click(function(){
          let value = parseInt($("#quantity_field-<%=product.id%>").val());
          $("#quantity_field-<%=product.id%>").val(value + 1);
        });

        $("#decrement_btn-<%=product.id%>").click(function(){
          let value = parseInt($("#quantity_field-<%=product.id%>").val());
          if (value > 1) {
          $("#quantity_field-<%=product.id%>").val(value - 1);
          }
        });
      </script>
    <% end %>
  </div>
<% else %>
  <% if params[:search] %>
    <h4 class="mt-5">No Products related to '<%= params[:search] %>'</h3>
  <% else %>
    <h4 class="mt-5">No Products Found.</h3>
  <% end %>
<% end %>
