<!DOCTYPE html>
<html>
  <head>
    <title>E-Commerece</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flash">
      <% if notice %>
        <p class="alert alert-primary" role="alert"><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class="alert alert-danger" role="alert"><%= alert %></p>
      <% end %>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <%= link_to "E-Commerece", :root, class: "navbar-brand" %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

          <li class="nav-item">
            <%= link_to 'Home', :root, :class => 'nav-link' %>
          </li>

          <% if user_signed_in? && current_user.buyer?%>
            <li class="nav-item">
              <%= link_to "Cart List", cart_items_path, :class => 'nav-link' %>
            </li>
          <% end %>

          <% if !user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Cart List", cart_items_path, :class => 'nav-link' %>
            </li>
          <% end %>

          <% if user_signed_in? %>
            <li class="nav-item">
              <% if current_user.seller? %>
                <%= link_to "My Products", products_path, :class => 'nav-link' %>
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %>
            </li>

            <li class="nav-item">
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link' %>
            </li>

            <li class="nav-item m-2">
              Logged in as <strong><%= current_user.first_name%> <%= current_user.last_name %></strong>.
            </li>

          <% else %>

            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link' %>
            </li>

            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
            </li>

          <% end %>
        </ul>

          <form class="form-inline my-2" action="products/public_products", method: :get>
            <input  class="form-control mr-sm-2" name="search" type="text" placeholder="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      <script type="text/javascript">
        $(document).ready(function(){
          setTimeout(function(){
            $('.flash').remove();
          }, 3000);
          })
      </script>

    <%= yield %>
  </body>
</html>
