<div class="container-fluid">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div style="width: 300px; margin: 20px;">
        <h2 style="text-align:center; margin-bottom: 20px;">Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field form-group">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, autofocus: true, required: true, autocomplete: "first_name", class:"form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name, autofocus: true,  required: true, autocomplete: "last_name", class:"form-control"%>
          </div>

          <div class="field form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class:"form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :phone %><br />
            <%= f.phone_field :phone, required: true, autofocus: true, autocomplete: "phone", class:"form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :address %><br />
            <%= f.text_field :address,  required: true, autofocus: true, autocomplete: "address", class:"form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, required: true, autocomplete: "new-password", class:"form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password" , class:"form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label "Join as" %> <br>
            <%= f.radio_button :role, :buyer, checked: true %>
            <%= f.label :role, 'Buyer', value: :buyer %>

            <%= f.radio_button :role, :seller %>
            <%= f.label :role, 'Seller', value: :seller %>
          </div>


          <% if session["cart_id"] %>
            <%= f.hidden_field :cartt_id, style:"width: 0px;",  value: session["cart_id"] %>
          <% else %>
            <% cart = Cartt.create(totalPrice: 0)  %>
            <%= f.hidden_field :cartt_id, style:"width: 0px;",  value: cart.id %>
          <% end %>

          <div class="actions d-flex justify-content-center mb-3">
            <%= f.submit "Sign up", class: "btn btn-primary" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

